html, body, :global(#root) {
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.globalSpin {
  position: absolute !important;
  left: 0 !important ;
  right: 0 !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}
